<link rel="stylesheet" src="main.css"></link>

<div class="text-center">
    <ul class="pagination">
        {{#if prev}}
            <li class="page-item"><a class="page-link" href="#colors?page={{prev}}">&laquo;</a></li>
        {{else}}
            <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
        {{/if}}

        {{#each pages}}
            {{#if current}}
                <li class="active page-item"><a class="page-link">{{page}} <span class="sr-only">(current)</span></a></li>
            {{else}}
                <li class="page-item"><a class="page-link" href="#colors?page={{page}}">{{page}}</a></li>
            {{/if}}
        {{/each}}

        {{#if next}}
            <li class="page-item"><a class="page-link" href="#colors?page={{next}}">&raquo;</a></li>
        {{else}}
            <li class="disabled page-item"><a class="page-link">&raquo;</a></li>
        {{/if}}
    </ul>
</div>